/* General settings */
html {
    box-sizing: border-box;
    margin: 0 auto;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

/* Navigation bar */
.header {
    height: 80px;
}
.navbar {
    text-align: center;
}
.navbar ul {
    margin: 0;
    padding: 0;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e1dfe0;
}
.navbar li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    padding: 30px 40px;
}
.navbar a {
    color: #FF0000;
    text-decoration: none;
    letter-spacing: 2.7px;
    text-align: center;
}
.navbar a:hover {
    color: #04AA6D;
    cursor: pointer;
}

/* Main part */
.main img {
    width: 100%;
    height: 750px;
}
.main-heading {
    color: #373737;
    margin: 40px;
    margin-top: 100px;
    text-align: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}
.main-text p {
    color: #373737;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    line-height: 26px;
    letter-spacing: 2.4px;
    font-weight: 400;
}
.button {
    text-align: center;
}
.btn {
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 20px 40px;
    letter-spacing: 1.8px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 45px 0 50px;
}
.btn:hover {
    color: white;
    background-color: #04AA6D;
    cursor: pointer;
}

/* Footer */
.footer {
    height: 80px;
}
.footer-info {
    position: relative;
}
.footer p {
    position: absolute;
    top: 5px;
    right: 140px;
    color: #373737;
    letter-spacing: 2.4px;
}

